/*
    #DCDCDD
    #C5C3C6
    #46494C
    #4C5C68
    #1985A1
*/

html, body {
    margin: 0px;
    padding: 0px;
    background-color: #DCDCDD;
}

h1 {
    text-align: center;
    padding: 20px 0px;
    margin: 0px;
    background-color: #1985A1;
}

ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

li {
    background-color: #46494C;
    color: #c5c3c6;
    width: 25%;
    float: left;
    display: block;
    padding: 10px 0px;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

li:hover {
    color: #DCDCDD;
    background-color: #4C5C68;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px;
    text-align: justify;
    flex-basis: 500px;
    flex-grow: 2;
    min-width: 400px;
}

p {
    padding: 10px;
}

h2 {
    text-align: center;
}

.cardholder {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

iframe {
    width: 100%;
    min-height: 30em;
    max-height: 40em;
    border: none;
}